{% extends "base.html" %}

{% block body %}
    <!--
<script>
    window.onload = function() {
        var button_index = document.getElementById('index');
        var button_search = document.getElementById('search');
        var page = document.getElementById('page');
        if (window.location.href.slice(-6) != "search"){
            button_search.style.display = "none";
            button_index.style.display = "block";
            page.style.display = "block";
        }
        else {
            button_search.style.display = "block";
            button_index.style.display = "none";
            page.style.display = "none";
        }
    };
</script>
    -->
    <h1>PC Game Shop</h1>
    <!--
    <form method="POST" action="/search">
      <p>Search <input type="text" name="name"> <input type="submit" value="search"></p>
    </form>
    <div id="search">
        <button type="button"><a href="/0">Return To Home</a></button>
    </div>
    -->

{% endblock %}
