{% extends "base.html" %}

{% block body %}
    <!--
<script>
    window.onload = function() {
        var button_index = document.getElementById('index');
        var button_search = document.getElementById('search');
        var page = document.getElementById('page');
        if (window.location.href.slice(-6) != "search"){
            button_search.style.display = "none";
            button_index.style.display = "block";
            page.style.display = "block";
        }
        else {
            button_search.style.display = "block";
            button_index.style.display = "none";
            page.style.display = "none";
        }
    };
</script>
--->
    {% if g.user %}
      <div>
        {% for i in range(url|length) %}
        <div><a href={{url[i]}}>{{title[i]}}</a></div>
        <div>{{abstract[i]}}</div>
        {% endfor %}
      </div>
      <li><span>Player tags: {{ g.user }}</span>
      <li><a href="{{ url_for('controller.logout') }}">Log Out</a>
    {% else %}
      <li><a href="{{ url_for('controller.register') }}">Register</a>
      <li><a href="{{ url_for('controller.login') }}">Log In</a>
    {% endif %}
    <!--
    <form method="POST" action="/search">
      <p>Search <input type="text" name="name"> <input type="submit" value="search"></p>
    </form>
    <div id="search">
        <button type="button"><a href="/0">Return To Home</a></button>
    </div>
    -->

{% endblock %}
