{% extends "base.html" %}

{% block body %}
    <script src="https://unpkg.com/gijgo@1.9.13/js/gijgo.min.js" type="text/javascript"></script>
    <link href="https://unpkg.com/gijgo@1.9.13/css/gijgo.min.css" rel="stylesheet" type="text/css" />
    <!--
<script>
    window.onload = function() {
        var button_index = document.getElementById('index');
        var button_search = document.getElementById('search');
        var page = document.getElementById('page');
        if (window.location.href.slice(-6) != "search"){
            button_search.style.display = "none";
            button_index.style.display = "block";
            page.style.display = "block";
        }
        else {
            button_search.style.display = "block";
            button_index.style.display = "none";
            page.style.display = "none";
        }
    };
</script>
-->
    {% if not g.user %}
    <script>
        $("#login_register").click();
    </script>
    {% endif %}

    <form method="post">
    <div class="form-group">
        <label for="exampleFormControlTextarea1">Paste your search details here</label>
        <textarea class="form-control" id="search_terms" name="search_terms" rows="3">{{search_term}}</textarea>
        <label for="datepicker">Papers published after:</label>
    <input id="datepicker" name="min_date" width="276" value={{min_date}}>
    <script>
        $('#datepicker').datepicker({
            uiLibrary: 'bootstrap4'
        });
    </script>
    </div>
        <button class="btn btn-primary" type="submit" id="search" name="search">Search</button>
        {% if g.user and session["context"] %}
        <a href={{url_for("controller.add")}} class="btn btn-success">Add To Your Subscription</a>
        {% elif g.user %}
        <a href={{url_for("controller.subscription")}} class="btn btn-success">Go To Your Subscription</a>
        {% endif %}
    </form>
    <label for="results">{{result}}</label>
    {% for i in range(url|length)%}
    <div><li><a href={{url[i]}} id="results">{{title[i]}}</a></li></div>
        <!--<div>{{abstract[i]}}</div> -->
    {% endfor %}
{% endblock %}
